/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}

/* - Styling - */
.hamburger__container {
  background-color: transparent;
  border: none;
}

.n-links__container {
  display: none;
}

/* - Media Queries - */
@media screen and (min-width: 48rem) {
  /* Hamburger Menu */
  .hamburger__container {
    display: none;
  }

  /* Header */
  nav {
    display: flex;
  }

  .n-links__container {
    border: 2px solid peachpuff;
    display: flex;
  }

  .n-links__container ul {
    display: flex;
    align-self: center;
  }
}
